<mat-tab-group class="w-100" [(selectedIndex)]="index">
  <mat-tab label="Frequency">
    <app-chart></app-chart>
  </mat-tab>
  <mat-tab label="Mi">
    <app-text-bloc></app-text-bloc>
  </mat-tab>
  <mat-tab label="Index of coincidence">
    <app-index-coincidence></app-index-coincidence>
  </mat-tab>
  <mat-tab label="Encrypted message">
    <app-text-encryption></app-text-encryption>
  </mat-tab>
  <mat-tab label="Decrypted message">
    <app-text-decryption></app-text-decryption>
  </mat-tab>
</mat-tab-group>
