<div>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Option
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row my-3">
          <div class="col-6">
            <mat-form-field>
              <mat-select placeholder="Encryption Algorrithme">
                <mat-option *ngFor="let cipher of encryptions" [value]="cipher">
                  {{cipher}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card class="card mt-5">
    {{encryptedText}}
  </mat-card>
</div>
